In [1]:
import pandas

In [2]:
df = pandas.read_excel('s3://ia-241-2022-spring-stanaway/Diamonds.xls')
df[:10]

   IDNO  WEIGHT COLOR CLARITY RATER  PRICE
0     1    0.30     D     VS2   GIA   1302
1     2    0.30     E     VS1   GIA   1510
2     3    0.30     G    VVS1   GIA   1510
3     4    0.30     G     VS1   GIA   1260
4     5    0.31     D     VS1   GIA   1641
5     6    0.31     E     VS1   GIA   1555
6     7    0.31     F     VS1   GIA   1427
7     8    0.31     G    VVS2   GIA   1427
8     9    0.31     H     VS2   GIA   1126
9    10    0.31     I     VS1   GIA   1126

In [3]:
df.describe()

             IDNO      WEIGHT         PRICE
count  308.000000  308.000000    308.000000
mean   154.500000    0.630909   5019.483766
std     89.056162    0.277183   3403.115715
min      1.000000    0.180000    638.000000
25%     77.750000    0.350000   1625.000000
50%    154.500000    0.620000   4215.000000
75%    231.250000    0.850000   7446.000000
max    308.000000    1.100000  16008.000000

In [4]:
df['PRICE']

0       1302
1       1510
2       1510
3       1260
4       1641
       ...
303     8175
304    10796
305     9890
306     8959
307     9107
Name: PRICE, Length: 308, dtype: int64

In [5]:
df[1:5]

   IDNO  WEIGHT COLOR CLARITY RATER  PRICE
1     2    0.30     E     VS1   GIA   1510
2     3    0.30     G    VVS1   GIA   1510
3     4    0.30     G     VS1   GIA   1260
4     5    0.31     D     VS1   GIA   1641

In [7]:
df.loc[  df['PRICE']> 1500]

     IDNO  WEIGHT COLOR CLARITY RATER  PRICE
1       2    0.30     E     VS1   GIA   1510
2       3    0.30     G    VVS1   GIA   1510
4       5    0.31     D     VS1   GIA   1641
5       6    0.31     E     VS1   GIA   1555
14     15    0.34     E     VS1   GIA   1693
..    ...     ...   ...     ...   ...    ...
303   304    1.01     I     VS1   HRD   8175
304   305    1.02     F    VVS2   HRD  10796
305   306    1.06     H    VVS2   HRD   9890
306   307    1.02     H     VS2   HRD   8959
307   308    1.09     I    VVS2   HRD   9107

[245 rows x 6 columns]

In [8]:
df['COLOR'].value_counts()

F    82
G    65
H    61
E    44
I    40
D    16
Name: COLOR, dtype: int64

In [9]:
df['PRICE'].count()

308

In [10]:
df['PRICE'].mean()

5019.483766233766

In [11]:
df['PRICE'].median()

4215.0

In [12]:
df['PRICE'].std()

3403.115715012962

In [14]:
df['PRICE'].max()

16008

In [15]:
df['PRICE'].sem()

193.91051432086505

In [16]:
df['PRICE'].min()

638

In [17]:
df['PRICE'].var()

11581196.569768183

In [18]:
df.groupby('COLOR').mean()

             IDNO    WEIGHT        PRICE
COLOR
D      128.812500  0.638125  7099.875000
E      140.590909  0.623182  5507.931818
F      149.012195  0.592927  4786.402439
G      159.492308  0.580769  4426.184615
H      165.704918  0.673443  4965.016393
I      166.125000  0.731000  5175.025000

In [19]:
df.groupby('COLOR').mean()['PRICE']

COLOR
D    7099.875000
E    5507.931818
F    4786.402439
G    4426.184615
H    4965.016393
I    5175.025000
Name: PRICE, dtype: float64

In [21]:
df['unit_price']=df['PRICE']/df['WEIGHT']

df[:5]

   IDNO  WEIGHT COLOR CLARITY RATER  PRICE   unit_price
0     1    0.30     D     VS2   GIA   1302  4340.000000
1     2    0.30     E     VS1   GIA   1510  5033.333333
2     3    0.30     G    VVS1   GIA   1510  5033.333333
3     4    0.30     G     VS1   GIA   1260  4200.000000
4     5    0.31     D     VS1   GIA   1641  5293.548387

In [22]:
from scipy import stats

In [24]:
result = stats.linregress(df['WEIGHT'],df['PRICE'])

In [29]:
print('slope is {:g}'.format(result.slope))

slope is 11598.9

In [30]:
print('slope is {:g}'.format(result.intercept))

slope is -2298.36

In [31]:
print('slope is {:g}'.format(result.pvalue))

slope is 3.04481e-150

In [33]:
print('the price of weight{} is ${:n}'.format(0.9,0.9*result.slope+result.intercept))

the price of weight0.9 is $8140.64

In [35]:
!pip install textblob

Collecting textblob
  Downloading textblob-0.17.1-py2.py3-none-any.whl (636 kB)
     |████████████████████████████████| 636 kB 21.7 MB/s
Requirement already satisfied: nltk>=3.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from textblob) (3.4.4)
Requirement already satisfied: six in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from nltk>=3.1->textblob) (1.15.0)
Installing collected packages: textblob
Successfully installed textblob-0.17.1

In [36]:
from textblob import TextBlob

In [40]:
result = TextBlob('I hate cats')

In [41]:
print('p is {}'.format(result.sentiment.polarity))

p is -0.8

In [42]:
print('s is {}'.format(result.sentiment.subjectivity))

s is 0.9